In [23]:
import pandas as pd

df = pd.read_csv(r"C:\Users\WINDOW 10\Desktop\Labs 2\movie_dataset_clean.csv")

In [19]:
df.head()

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,spoken_languages,status,...,collection_poster,collection_backdrop,genre_ids,genre_names,production_companies_ids,production_companies_names,country,release_month,elenco,directores
0,30000000.0,862.0,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,English,Released,...,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,"[16, 35, 10751]","['Animation', 'Comedy', 'Family']",[3],['Pixar Animation Studios'],United States of America,10,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...","['John Lasseter', 'Joss Whedon', 'Andrew Stant..."
1,65000000.0,8844.0,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,English,Released,...,NaN,NaN,"[12, 14, 10751]","['Adventure', 'Fantasy', 'Family']","[559, 2550, 10201]","['TriStar Pictures', 'Teitler Film', 'Intersco...",United States of America,12,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...","['Larry J. Franco', 'Jonathan Hensleigh', 'Jam..."
2,0.0,15602.0,en,A family wedding reignites the ancient feud be...,11.712900,1995-12-22,0.0,101.0,English,Released,...,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg,"[10749, 35]","['Romance', 'Comedy']","[6194, 19464]","['Warner Bros.', 'Lancaster Gate']",United States of America,12,"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...","['Howard Deutch', 'Mark Steven Johnson', 'Mark..."
3,16000000.0,31357.0,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,English,Released,...,NaN,NaN,"[35, 18, 10749]","['Comedy', 'Drama', 'Romance']",[306],['Twentieth Century Fox Film Corporation'],United States of America,12,"['Whitney Houston', 'Angela Bassett', 'Loretta...","['Forest Whitaker', 'Ronald Bass', 'Ronald Bas..."
4,0.0,11862.0,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,English,Released,...,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg,[35],['Comedy'],"[5842, 9195]","['Sandollar Productions', 'Touchstone Pictures']",United States of America,2,"['Steve Martin', 'Diane Keaton', 'Martin Short...","['Alan Silvestri', 'Elliot Davis', 'Nancy Meye..."

In [20]:
df['release_date'] = pd.to_datetime(df['release_date'])
df['release_month'] = df['release_date'].dt.month_name()
df['release_day'] = df['release_date'].dt.day_name()
def traductor_mes():
    meses = {'January':'Enero', 'February':'Febrero', 'March':'Marzo', 'April':'Abril', 'May':'Mayo', 'June':'Junio', 'July':'Julio', 'August':'Agosto', 'September':'Septiembre', 'October':'Octubre', 'November':'Noviembre', 'December':'Diciembre'}
    df['release_month'] = df['release_month'].map(meses)
traductor_mes()
def traductor_dia():
    dias = {'Monday':'Lunes', 'Tuesday':'Martes', 'Wednesday':'Miercoles', 'Thursday':'Jueves', 'Friday':'Viernes', 'Saturday':'Sabado', 'Sunday':'Domingo'}
    df['release_day'] = df['release_day'].map(dias)
traductor_dia()

In [21]:
def cantidad_filmaciones_mes(mes):
#Diccionario para el usario ingrese el mes en español
    df_mes = df[df['release_month'] == mes]
    cantidad = len(df_mes)
    return {'mes':mes, 'cantidad':cantidad}

In [22]:
cantidad_filmaciones_mes("Marzo")

{'mes': 'Marzo', 'cantidad': 3549}

In [23]:
def cantidad_filmaciones_dia(dia:str):
    # Obtiene la cantidad de películas estrenadas en el día especificado
    df_dia = df[df['release_day'] == dia]
    cantidad = len(df_dia)
    return {'dia':dia, 'cantidad':cantidad}

In [24]:
cantidad_filmaciones_dia("Lunes")

{'dia': 'Lunes', 'cantidad': 3500}

In [16]:
def score_titulo(titulo:str):
    
    # Filtrar el DataFrame por el título de la filmación
    filtro_titulo = df['title'].str.lower() == titulo.lower()
    pelicula = df[filtro_titulo]
    
    if len(pelicula) == 0:
        return "No se encontró la película."
    
    # Obtener el título, el año de estreno y el score de la película
    titulo = pelicula['title'].values[0]
    año_estreno = pelicula['release_year'].values[0]
    score = pelicula['popularity'].values[0]
    
    # Formato de la respuesta
    
    return {'titulo':titulo, 'anio':año_estreno, 'popularidad':score}

In [17]:
score_titulo("Star Wars")

{'titulo': 'Star Wars', 'anio': 1977, 'popularidad': 42.149697}

In [12]:
def votos_titulo(titulo_de_la_filmación:str):
    
    # Convertir el título de la filmación a minúsculas
    titulo_filtrar = titulo_de_la_filmación.lower()
    
    # Convertir la columna 'title' del DataFrame a minúsculas y filtrar
    filtro_titulo = df['title'].str.lower() == titulo_filtrar
    pelicula = df[filtro_titulo]
    
    if len(pelicula) == 0:
        return "No se encontró la película."
    
    # Obtener la cantidad de votos y el valor promedio de las votaciones
    votos = pelicula['vote_count'].values[0]
    
    if votos < 2000:
        return "La película no cumple con la cantidad mínima de valoraciones."
    
    promedio = pelicula['vote_average'].values[0]
    
    # Obtener el título y el año de estreno de la película
    titulo = pelicula['title'].values[0]
    año_estreno = pelicula['release_year'].values[0]
    
    # Formato de la respuesta
    
    return {'titulo':titulo, 'anio':año_estreno, 'voto_total':votos, 'voto_promedio':promedio}

In [13]:
votos_titulo("Toy Story")

{'titulo': 'Toy Story',
 'anio': 1995,
 'voto_total': 5415.0,
 'voto_promedio': 7.7}

In [18]:
def get_ids_cast(name):
    ids = []
    for cast_list in df['elenco']:
        if name in cast_list:
            ids.append(df.loc[df['elenco'] == cast_list, 'id'].to_list())

    result = [num for sublist in ids for num in sublist]

    return result

In [19]:
def get_actor(name):
    total_return=0
    ids_films= get_ids_cast(name)

    for id in ids_films:
        if id in df['id'].values:
            total_return += float(df.loc[df['id'] == id, 'return'])
    
    total_films=len(ids_films)
    average_return=total_return/total_films
    
    return "{} ha obtenido un retorno de {} gracias a su participación en {} películas, dando un promedio por films de {} ".format(name, total_return,total_films,average_return)

In [20]:
get_actor("Tom Hanks")

'Tom Hanks ha obtenido un retorno de 178.84949605520237 gracias a su participación en 71 películas, dando un promedio por films de 2.519006986692991 '

In [50]:
def get_actor2(nombre_actor: str):

    # Filtrar las filas donde el actor está presente en la columna 'elenco'
    filtro_actor = df['elenco'].str.contains(nombre_actor, case=False)
    peliculas_actor = df[filtro_actor]

    if len(peliculas_actor) > 0:
        cantidad_films = len(peliculas_actor)
        retorno_total = peliculas_actor['return'].sum()
        promedio_retorno = retorno_total / cantidad_films

        return {'actor':nombre_actor, 'cantidad_filmaciones':cantidad_films, 'retorno_total':retorno_total, 'retorno_promedio':promedio_retorno}
    else:
        return f"No se encontraron registros para el actor {nombre_actor}."

In [51]:
get_actor2("Tom Hanks")

{'actor': 'Tom Hanks',
 'cantidad_filmaciones': 71,
 'retorno_total': 178.8494960552024,
 'retorno_promedio': 2.5190069866929914}

In [2]:
def get_director(nombre_director:str):

    # Filtramos las filas donde el director está presente en la columna 'director'
    filtro_director = df['directores'].str.contains(nombre_director, case=False)
    peliculas_director = df[filtro_director]
    
    if len(peliculas_director) > 0:
        retorno_total_director = peliculas_director['return'].sum()
        
        peliculas = []
        
        for index, pelicula in peliculas_director.iterrows():
            titulo = pelicula['title']
            fecha_lanzamiento = pelicula['release_date']
            retorno_pelicula = pelicula['return']
            budget_pelicula = pelicula['budget']
            revenue_pelicula = pelicula['revenue']
            
            peliculas.append({
                'titulo': titulo,
                'fecha_lanzamiento': fecha_lanzamiento,
                'retorno_pelicula': retorno_pelicula,
                'budget_pelicula': budget_pelicula,
                'revenue_pelicula': revenue_pelicula
            })
        
        return {
            'director': nombre_director,
            'retorno_total_director': retorno_total_director,
            'peliculas': peliculas
        }
    else:
        return f"No se encontraron registros para el director {nombre_director}."

In [3]:
get_director("Robin Williams")

{'director': 'Robin Williams',
 'retorno_total_director': 17.6514478,
 'peliculas': [{'titulo': 'Mrs. Doubtfire',
   'fecha_lanzamiento': '1993-11-24',
   'retorno_pelicula': 17.6514478,
   'budget_pelicula': 25000000.0,
   'revenue_pelicula': 441286195.0},
  {'titulo': 'Robin Williams: Weapons of Self Destruction',
   'fecha_lanzamiento': '2009-12-06',
   'retorno_pelicula': 0.0,
   'budget_pelicula': 0.0,
   'revenue_pelicula': 0.0},
  {'titulo': 'Robin Williams: A Night at the Met',
   'fecha_lanzamiento': '1986-08-09',
   'retorno_pelicula': 0.0,
   'budget_pelicula': 0.0,
   'revenue_pelicula': 0.0},
  {'titulo': 'Robin Williams: Live on Broadway',
   'fecha_lanzamiento': '2002-07-14',
   'retorno_pelicula': 0.0,
   'budget_pelicula': 0.0,
   'revenue_pelicula': 0.0}]}

In [12]:
from sklearn.neighbors import NearestNeighbors
import ast

# Eliminar filas con valores NaN en columnas importantes
df = df.dropna(subset=['overview', 'tagline', 'genre_names', 'title', 'id'])

# Convertir la columna 'genre_names' de cadena a lista
df['genre_names'] = df['genre_names'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Crear dataframe de géneros utilizando one-hot encoding
generos_df = df['genre_names'].str.get_dummies('|')

# Definir título seleccionado
selected_title = "Batman"

# Obtener los géneros del título seleccionado
selected_genres = df.loc[df['title'] == selected_title]['genre_names'].values[0]

# Calcular la similitud de géneros entre los títulos y el título seleccionado
df['genre_similarity'] = df['genre_names'].apply(lambda x: len(set(selected_genres) & set(x)) / len(set(selected_genres) | set(x)))

# Crear columna 'same_series' para indicar si el título contiene 'Batman'
df['same_series'] = df['title'].apply(lambda x: 1 if 'Batman' in x else 0)

# Crear dataframe de características para el algoritmo de vecinos más cercanos
features_df = pd.concat([generos_df, df['vote_average'], df['genre_similarity'], df['same_series']], axis=1)

# Configurar el algoritmo de vecinos más cercanos
k = 6
knn = NearestNeighbors(n_neighbors=k+1, algorithm='auto')
knn.fit(features_df)

# Obtener los índices de los títulos recomendados
indices = knn.kneighbors(features_df.loc[df['title'] == selected_title])[1].flatten()

# Obtener los títulos recomendados y ordenarlos según criterios de puntuación y similitud de género
recommended_movies = list(df.iloc[indices]['title'])
selected_score = df.loc[df['title'] == selected_title]['vote_average'].values[0]
recommended_movies = sorted(recommended_movies, key=lambda x: (df.loc[df['title'] == x]['same_series'].values[0], df.loc[df['title'] == x]['vote_average'].values[0], df.loc[df['title'] == x]['genre_similarity'].values[0]), reverse=True)
recommended_movies = [movie for movie in recommended_movies if movie != selected_title]

# Imprimir resultados
print(f"Película seleccionada: {selected_title} ({selected_score}):\n")
print("Películas recomendadas:\n")
for i, pelicula in enumerate(recommended_movies[:5]):
    score = df.loc[df['title'] == pelicula]['vote_average'].values[0]
    genres = df.loc[df['title'] == pelicula]['genre_names'].values[0]
    gen_str = ', '.join(genres)

    print(f"- {pelicula}  | Géneros: {gen_str} | Puntuación: {score} |")
    if i == 4:
        break

Película seleccionada: Batman (7.0):

Películas recomendadas:

- The Lego Batman Movie  | Géneros: Action, Animation, Comedy, Family, Fantasy | Puntuación: 7.2 |
- The Batman Superman Movie: World's Finest  | Géneros: Action, Animation | Puntuación: 7.1 |
- Superman/Batman: Apocalypse  | Géneros: Action, Adventure, Animation | Puntuación: 7.0 |
- Superman/Batman: Public Enemies  | Géneros: Animation, Action, Adventure | Puntuación: 6.7 |
- Batman Returns  | Géneros: Action, Fantasy | Puntuación: 6.6 |

In [27]:
from sklearn.neighbors import NearestNeighbors
import ast

def recomendacion(titulo: str):
    df = pd.read_csv(r"C:\Users\WINDOW 10\Desktop\Labs 2\movie_dataset_clean.csv")
    '''
    Recibe un título de película y retorna un diccionario con la lista recomendada de películas similares.
    '''
    # Eliminar filas con valores NaN en columnas importantes
    df = df.dropna(subset=['overview', 'tagline', 'genre_names', 'title', 'id'])

    # Convertir la columna 'genre_names' de cadena a lista
    df['genre_names'] = df['genre_names'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

    # Crear dataframe de géneros utilizando one-hot encoding
    generos_df = df['genre_names'].str.get_dummies('|')

    # Definir título seleccionado
    selected_title = titulo

    # Obtener los géneros del título seleccionado
    selected_genres = df.loc[df['title'] == selected_title]['genre_names'].values[0]

    # Calcular la similitud de géneros entre los títulos y el título seleccionado
    df['genre_similarity'] = df['genre_names'].apply(lambda x: len(set(selected_genres) & set(x)) / len(set(selected_genres) | set(x)))

    # Crear columna 'same_series' para indicar si el título contiene 'Batman'
    df['same_series'] = df['title'].apply(lambda x: 1 if 'Batman' in x else 0)

    # Crear dataframe de características para el algoritmo de vecinos más cercanos
    features_df = pd.concat([generos_df, df['vote_average'], df['genre_similarity'], df['same_series']], axis=1)

    # Configurar el algoritmo de vecinos más cercanos
    k = 6
    knn = NearestNeighbors(n_neighbors=k+1, algorithm='auto')
    knn.fit(features_df)

    # Obtener los índices de los títulos recomendados
    indices = knn.kneighbors(features_df.loc[df['title'] == selected_title])[1].flatten()

    # Obtener los títulos recomendados y ordenarlos según criterios de puntuación y similitud de género
    recommended_movies = list(df.iloc[indices]['title'])
    selected_score = df.loc[df['title'] == selected_title]['vote_average'].values[0]
    recommended_movies = sorted(recommended_movies, key=lambda x: (df.loc[df['title'] == x]['same_series'].values[0], df.loc[df['title'] == x]['vote_average'].values[0], df.loc[df['title'] == x]['genre_similarity'].values[0]), reverse=True)
    recommended_movies = [movie for movie in recommended_movies if movie != selected_title]

    # Construir la respuesta
    respuesta = {
        'lista_recomendada': recommended_movies[:5]
    }

    return {'lista_recomendada': respuesta}

In [29]:
recomendacion("Batman")

{'lista_recomendada': {'lista_recomendada': ['The Lego Batman Movie',
   "The Batman Superman Movie: World's Finest",
   'Superman/Batman: Apocalypse',
   'Superman/Batman: Public Enemies',
   'Batman Returns']}}